.imageButtons {
  display: flex;
  margin-bottom: 20px;
}

.eyeDropper {
  background-color: red;
}

.eyeDrop {
  background-color: red;
}

.uploadImgButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brt-green);
  padding: 3px 10px;
  border: 2px solid var(--brt-green);
  margin-left: 10px;
}

.uploadImgButton:hover {
  background-color: var(--brt-green);
  color: var(--dk-grey);
}

.uploadImgButton:active {
  background-color: var(--brt-pink);
  color: var(--dk-grey);
}
