.swatchContainer {
  display: flex;
}

.swatch {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
}

.paletteContainer {
  margin: 10px;
}

.swatchContainer {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
