.main {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.info {
  width: 350px;
}

.infoSection {
  width: inherit;
  padding: 20px;
  height: 350px;
  background-color: var(--brt-pink);
}

.holdsButtons {
  width: 100%;
  display: flex;
}

.buttonStyle {
  cursor: pointer;
  color: var(--brt-green);
  padding: 3px 8px;
  display: flex;
}
