.login {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 70vh;
}

.loginButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--dk-grey);
  background-color: var(--brt-green);
  padding: 5px;
  border: 2px solid var(--brt-green);

  height: 40px;
}

.loginButton:hover {
  color: var(--brt-green);
  background-color: var(--dk-grey);
}

.loginButton:active {
  color: var(--brt-green);
  background-color: var(--brt-pink);
}
